body {
  background-color: rgb(75, 54, 124);
}

#twitch-embed {
  display: table;
  margin: 0 auto;
  margin-top: 5vh;
}

#title {
  width: 40vw;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
}

#channel {
  display: table;
  margin: 0 auto;
  margin-top: 10vh;
}

#input {
  width: 30vw;
}

#generate {
  height: 3em;
  width: 10em;
  display: table;
  margin: 0 auto;
  margin-top: 5vh;
}
